name: CI

on:
  push:
    branches: "main"
  pull_request:

jobs:
  backend:
    name: Backend CI
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: app/backend

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v3
        with:
          version: 10.28.2

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"
          cache-dependency-path: ./pnpm-lock.yaml

      - run: pnpm install --frozen-lockfil

      - run: pnpm run build
